body{
    background-color: #dbf6e9;
}
.container{
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
#calculator{ 
    background-color: #222831;
    border-radius: 1em;
    margin: auto;
    box-shadow: 5px 10px #888888;
}
 #keys{

    margin: auto;
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,100px);
} 
#calculator >#screen{
    margin: 20px;
    padding:0.75rem 1rem;
    font-size: 1.5em;
    text-align: right;
    color:azure;
    overflow: hidden;

}
.zero{
    grid-column: span 2;
}
.equal{
   
    background-color: #ff6c00;
}

#keys > button{
    border: none;
    margin:1px;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    outline: none;
}
#keys > button:hover{
    opacity: .9;
}
