    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
    }
        
    body{
            background-color: #d4d4d4;
    }

    #container{
            background-color: white;
            width: 80%;
            margin:auto;
            padding: 30px;
            line-height: 1.5;

    }
    #quochieu{
            text-align: center;
            font-weight: 600;
    }
    #tenvb
    {
        text-align: center;
    }
    #thongtin{
        padding-top: 30px;
        padding-left: 30px;
        margin: auto;
    }
    #vanban{
        text-align: left;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        text-align: justify;
    }
    .vanban{
        padding-left: 30px;
    }
    #kiten{
        text-align: left;
        padding: 30px;
    }
    .kiten{
        
        font-weight:600;
    }