*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f7fa;
}

#box{
    background-color: white;
    width: 80%;
    margin:auto;
    padding: 30px;
    line-height: 1.5;
    font: Arial;
}
.title{
     color: #464646;
   
}
#anh{
    text-align: center;
}
.tieude{
    font-weight: larger;
}
.binhluan{
    color:#b9b9b9;
    border: 1px solid #b9b9b9;
    padding-bottom: 35px;
    text-indent:10px;
}