/*day la chu thich trong file css - phim tat cung la command+/*/
*
{
    margin: 0;
}
/* important uu tien */
.truyen-kieu{
    font-size: 24px !important; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    /* it khi dung nhung phong chu co gach chan ben duoi nhu times new roman vi kho doc */
    line-height: 1.5;
    margin-top: 20px;
    margin-left: 30px;
    background-color: blueviolet;
    padding: 10px;
}
.truyen-kieu{
    font-size: 30px;
}